<div class="admin-orders-container">
  <div class="admin-orders-header">
    <h1>Create New Category</h1>
  </div>
  <form (ngSubmit)="onSubmit()" #categoryForm="ngForm" class="mt-4" autocomplete="off">
    <div class="mb-3">
      <label for="categoryName" class="form-label">Category Name</label>
      <input type="text" id="categoryName" name="categoryName" class="form-control" [(ngModel)]="categoryName" required>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="categoryForm.invalid">Create Category</button>
  </form>
</div>
