<div class="sidebar">
    <ul>
      <li routerLink="/admin/dashboard" routerLinkActive="active"><i class="fas fa-box"></i> Dashboard</li>
      <li routerLink="/admin/products" routerLinkActive="active"><i class="fas fa-box"></i> Products</li>
      <li routerLink="/admin/orders" routerLinkActive="active"><i class="fas fa-shopping-cart"></i> Orders</li>
      <li routerLink="/admin/customers" routerLinkActive="active"><i class="fas fa-users"></i> Customers</li>
      <li routerLink="/admin/categories" routerLinkActive="active"><i class="fas fa-tags"></i> Categories</li>
      <li routerLink="/admin/subcategories" routerLinkActive="active"><i class="fas fa-tag"></i> Subcategories</li>
      <li (click)="logout()"><i class="fa-solid fa-arrow-right-from-bracket"></i> Signout</li>

    </ul>
  </div>