.register-container {
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #f8f9fa; */
    padding: 60px;
  }
  
  .register-card {
    background: #fff;
    padding: 2.5rem 2rem;
    border-radius: 16px;
    box-shadow: 0 4px 32px rgba(0,0,0,0.08);
    width: 50%;
    /* max-width: 50vw; */
  }
  
  .form-label {
    font-weight: 500;
  }
  
  .btn-primary {
    font-weight: 600;
    letter-spacing: 0.5px;
  }

  .alert-info {
    background-color: #eaf4fc;
    color: #0c5460;
    border-left: 6px solid #007bff;
  }

  .alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border-left: 6px solid #dc3545;
  }

  .ex-icon{
    cursor: pointer;
    width:35px;
    height: 35px
  }

  .ex-icon:hover{
    width:37px;
    height: 37px
  }