<div class="container mt-5">
  <!-- <h2>Wishlist</h2> -->
  <div class="row">
    
      <div class="row products-grid">
        @for(prod of wishlistItems; track $index){   
            <div class="col-4 mb-4">
                <app-one-product
                  [prodData]="prod"
                (removedFromWishlist)="onRemovedFromWishlist($event)"
                  >

              </app-one-product>  
            </div>
        }
    
    </div>
    <div *ngIf="wishlistItems.length === 0 || !wishlistItems " class="empty-cart-message" >
        <i class="fa-regular fa-heart"></i>
        <div>Your wishlist is empty.</div>
        <a routerLink="/products" class="btn empty-btn mt-3">Start Shopping</a>
      
    </div>
  </div>
</div>
