

















.font{
    color:black;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
    
}

.footer {
    background-color: #111111;
    color: #b7b7b7;
    padding: 70px 0;
}

.footer-logo {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

.dot {
    color: rgb(215, 3, 3);
}
.sq{
    font-size: 0.7rem;
    color: rgb(215, 3, 3);
    padding-left: 5px;
}

.footer-description {
    margin-bottom: 30px;
    line-height: 1.6;
}

.payment-methods {
    display: flex;
    gap: 10px;
    align-items: center;
}

.payment-methods img {
    height: 24px;
    filter: grayscale(1) brightness(1.5);
}

.footer-title {
    color: white;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: #b7b7b7;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: white;
}

.newsletter-text {
    margin-bottom: 20px;
    line-height: 1.6;
}

.newsletter-input {
    position: relative;
    display: flex;
    align-items: center;
}

.newsletter-input input {
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: #303030;
    border: none;
    color: white;
}

.newsletter-input input::placeholder {
    color: #b7b7b7;
}

.newsletter-input button {
    position: absolute;
    right: 0;
    height: 100%;
    padding: 0 20px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
}

.newsletter-input button:hover {
    color: #e53637;
}

.active-link {
    position: relative;
}

.active-link::after {
    content: "";
    display: block;
    width: 75%;
    height: 2px;
    background-color: rgb(215, 3, 3);
    position: absolute;
    bottom: 0;
    
}


.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}











